* {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    width: 100px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    border-bottom: 1px solid lightgrey;
    background: #050505;
    position: fixed;
    color: white;

    writing-mode: vertical-lr;
    padding: 20px;
    z-index: 1000;
    transform: rotate(180deg);
    top: -1px;
}

.logo {
    height: 100%;
    font-family: 'Kalnia', serif;
    text-align: center;
    margin: auto;

}

.menu-toggle {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 50px;
    margin: auto;
}

.menu-toggle:hover .bar {
    background: dodgerblue;
    transition: 0.45s;
}

.bar {
    width: 50px;
    height: 2px;
    margin: 2px 0;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #111212;
    transition: left 0.3s ease;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.side-menu.active {
    left: 0;
}

/* Анимация для переключения палочек в крестик */
.bar.active:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.bar.active:nth-child(2) {
    opacity: 0;
}

.bar.active:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

.social {
    height: 75%;
    width: 50%;
    margin: auto;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx {
    font-size: 30px;
    margin-bottom: 10px;
}

.nav-bar {
    width: 70%;
    margin: auto;
}

.nav-bar > ul {
    display: flex;
    justify-content: space-around;
}

.nav-bar > ul > li {
    list-style-type: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.nav-menu>li {
    padding-left: 35px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: dodgerblue;
    transition: 0.45s;
}

/* subject */

.subject {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111212;
    display: flex;
    align-items: center;
    color: white;
}

.subject_container {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.subject_container_text {
    padding: 10px;
    width: 50%;
}

.subject_container_text > h1 {
    margin: 0 0 100px 0;
    font-size: x-large;
}

.subject_container_img {
    width: 400px;

}

/* head */

.head {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

.head_button {
    height: 50px;
    margin-right: 70px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.head_button:hover {
    color: dodgerblue;
    border: 2px solid dodgerblue;
    transition: 0.45s;
}

/* report */

.report {
    width: 100%;
    text-align: center;
}

.report h4 {
    margin-top: 0;
    font-size: 32px;
}

.report_text {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.report_text p:last-child {
    margin-bottom: 0;
}

.hr {
    border-color: black;
}

/* footer */

.footer {
    width: 100%;
    height: 60px;
    background: #111212;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}

.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}